.container {
	padding: 0;
}
.page-header {
	display: flex;
	padding-right: 15px;
	margin: 0;
}

figure {
	text-align: left;
	order: 1;
	width: 50%
}

#graphPanel {
	padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
	

h1 {
	margin-top: 50px; 
	text-align: right;
	order: 2;
	width: 50%;
}

#loginCard {
	border: 1px solid #000000;
	text-align: center;
	width: 33.3%;
	margin-left: 33.3%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 4px;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   text-align: center;
}